body {
 font-family: arial, MedievalSharp;
 margin: 0px;
}
header {
	width: 100%;
	background: black; /*cor de fundo*/
	padding: 5px 0px; /*preenchimento*/
	box-sizing: border-box; /*corrigir barra de rolagens*/
	position: flex; /*posição fixa */
	top: 0; /*distancia de cima*/
}
.arvore {
	width: 120px;
}
header nav {
	float: right; /*flutuar a direita*/ 
	margin: 5px; /*margem*/
}
header nav ul {
	list-style: none; /*tirar sublinhado dos links*/
}
header nav ul li {
	display: inline-block; /*exibir em horizontal*/
	margin: 20px; /*margem */
}
header nav ul li a {
	text-decoration: none; /*tirar o sombriado dos links no site*/
	color: #FFF; /* cor do texto */
	font-weight: 800; /*especura da fonte*/
}
.icone-bar {
	margin-top: 15px;
	padding: 1px 2px;
}
.logo {
    width: 500px;
}

