/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    font-family: 'MedievalSharp', cursive;

}

/* Header fixo com logo e links lado a lado */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #229A00;
    padding: 0 20px;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 70px; /* ajuste conforme necessário */
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none; /**/
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links i {
    margin-right: 5px;
}

/* Para evitar que o conteúdo fique escondido atrás do header */
main {
    padding-top: 90px;
}
