/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: 'MedievalSharp', cursive, arial, Tahoma;

}

/* Header fixo com logo e links lado a lado */
.nav-bar {
    display: flex; 
    align-items: center; /*alinhar itens no centro*/
    justify-content: space-between; /*justificar*/
    background-color: black; /*cor de fundo*/
    padding: 0 20px; /*"preencimento"*/
    height: 80px; /*altura*/
    position: fixed; /*posição fixada*/
    top: 0; /*"margem"topo */
    width: 100%; /*largura*/
    z-index: 999; /*manter o elemento na frente*/
}
li a:Hover {
        background: red; /*configurar o mouse*/
         transition: all 0.5s;
}
/* Logo */
.logo {
    display: flex; /*configuraçoes da logo */
    align-items: center; /*alinhar texto*/
    gap: 10px;
}

.logo img {
    height: 70px; /* altura da imagem */
}

/* Links */
.nav-links { /*configuraçoes da nav-links*/
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none; /*tirar o sublinhado*/
    color: white; /*cor*/
    font-weight: bold; /*espessura*/
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links i {
    margin-right: 5px;
}

.menu-toggle { /*configuração do botão*/
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Para evitar que o conteúdo fique escondido atrás do header */
main {
    padding-top: 90px;
    text-align: center;
    align-items: center;
  
}
footer {
    
    background-color: black;
    margin-top: 10PX;
    margin-bottom: 0px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px;
}
.naim {
    display: flex;
}
.esquerda {
    width: 380px;
    margin-left: 
    margin: auto;

}
.direita {
    margin: auto
}
/*
.esquerda, .direita { 
    margin:auto;
}
*/
main p {
    margin: auto;
      font-size: 40px;
   

}
.bloco-principal {
    display: flex;
    justify-content: center;
    align-items: flex-start; /*alinhar itens- alinhar os itens no flex*/
    gap: 50px;
    margin: 60px auto;
    max-width: 1200px;
    padding: 40px;
}

.esqueleto .esqueleto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.esuqeleto-image {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.descricao {
    max-width: 600px;

}

.descricao h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.descricao p {
    line-height: 1.6;
    font-size: 20px;
}
footer h1 {
    color: white;
}
footer a {
    background: black ; /*cor de fundo*/
    text-decoration: none; /*sem linhas de baixo*/
    margin: 20px; /*margem */
    color: white; /*cor do  texto*/
    width: 30px; /*largura*/
    height: 30px; /*altura*/
    display: inline-block; /*exibição em horizontal */
    line-height: 30px; /* -altura da linha- mesmo tamanho da altura*/
    transition: all 0.5s;
}
footer a:Hover {
    background: white; /*cor dw fundo*/
    color: red; /*cor do texto*/
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /*"sumir"*/
        flex-direction: column; /*direção em coluna*/
        background-color: black; /*cor de fundo*/
        position: absolute; /*posição*/
        top: 61px; /*topo*/
        right: 12px; /*direita*/
        width: 201px; /*largura*/
        padding: 13px; /*preenchimento*/
        border: 2px solid #fff; /*borda/solida/cor*/
        z-index: 1000; /*deixa na frete*/
    }
    .menu-toggle {
        display: block; /*fazer o botão aparecer*/
    }
     .nav-links.active {
        display: flex; 
    }
        .esqueleto {
            display: none; /*sumir*/
        }
        .esquerda, .direita {
            display: none; /*sumir*/
        }
}

