* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    font-family: 'MedievalSharp', cursive;

}

/* Header fixo com logo e links lado a lado */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
li a:Hover {
        background: red;
         transition: all 0.5s;
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 70px; /* ajuste conforme necessário */
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none; /**/
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links i {
    margin-right: 5px;
}
.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Para evitar que o conteúdo fique escondido atrás do header */
main {
    padding-top: 90px;
    text-align: center;
    align-items: center;
  
}
footer {
    
    background-color: black;
    margin-top: 10PX;
    margin-bottom: 0px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 20px 0px;
}
.naim {
    display: flex;
}
.esquerda {
    width: 380px;
    margin-left: 
    margin: auto;

}
.direita {
    margin: auto
}
/*
.esquerda, .direita { 
    margin:auto;
}
*/
main p {
    margin: auto;
      font-size: 40px;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background:#ba9fe0;
    color: black;
    transition: white 0.4s ease-in-out;
}
input[type=texte]:focus {
width: 100%;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: #fa6055; 
    color: black;
    margin:10px 130px;
    resize: none;
}
input[type=email] {
    
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background: #ba9fe0;
    color: black;
}
input[type=radio] {
    margin: 0px 10px;
    text-align: center;
    padding: 10px;
}
.btn-submit {
    background: green; /*cor de fundo do botão*/
}

.btn-reset {
    background: red; /*cor de fundo do botão*/  
}

button:Hover {
    color: white; /*ao passar o mouse muda de cor*/
        
}

.btn-submit,.btn-reset {
    margin: 20px 30px; /*margem*/
    padding: 15px 15px; /*prenchimento*/
    font-weight: bolder; /*encorpar texto*/
    border-radius: 5px; /*arrendodar as bordas*/
    border: none; /*tirar as bordas*/
}
 

footer h1 {
    color: white;


}
footer a {
    background: black ; /*cor de fundo*/
    text-decoration: none; /*sem linhas de baixo*/
    margin: 20px; /*margem */
    color: white; /*cor do  texto*/
    width: 30px; /*largura*/
    height: 30px; /*altura*/
    display: inline-block; /*exibição em horizontal */
    line-height: 30px; /* -altura da linha- mesmo tamanho da altura*/
    transition: all 0.5s;
}
footer a:Hover {
    background: white; /*cor dw fundo*/
    color: red; /*cor do texto*/
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /*"sumir"*/
        flex-direction: column; /*direção em coluna*/
        background-color: black; /*cor de fundo*/
        position: absolute; /*posição*/
        top: 60px; /*topo*/
        right: 10px; /*direita*/
        width: 200px; /*largura*/
        padding: 10px; /*preenchimento*/
        border: 1px solid #fff; /*borda/solida/cor*/
        z-index: 1000; /*deixa na frete*/
    }
    .menu-toggle {
        display: block; /*fazer o botão aparecer*/
        margin-right: 20px;
    }
     .nav-links.active {
        display: flex; 
    }
    .logo img {
        height: 65px;
    }
        .esqueleto {
            display: none; /*sumir*/
        }
        .esquerda, .direita {
            display: none; /*sumir*/
        }
        .btn-submit,.btn-reset {
    margin: 10px 20px; /*margem*/
    padding: 15px 15px; /*prenchimento*/
    font-weight: bolder; /*encorpar texto*/
    border-radius: 5px; /*arrendodar as bordas*/
    border: none; /*tirar as bordas*/
}
    textarea {
        margin: 0px;
    }
    input[type=radio] {
        margin: 0px;
    }
}
